  <h1>Upcoming events soorted by category</h1>
<div class="container">
  <div class="row">
    <% @themes.each do |theme| %>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><%= theme.name %></div>
            <% theme.events.each do |event| %>
              <div class="panel-body">
                <h4><%= link_to event.name, event_path(event) %></h4>
                <h4><%= Time.at(event.starts_at).strftime("%B %e, %Y at %I:%M %p") %></h4>
                <% event.photos.each do |photo| %>
                  <%= image_tag photo.image.small_thumb %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
