<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
  <h1> These are the terms and conditions </h1>

  <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis non dapibus purus. Integer pharetra,
     odio ut rutrum varius, leo quam viverra nisi, et pulvinar felis tellus vitae odio. Fusce a justo commodo,
     consequat lacus nec, commodo arcu. Fusce eu risus sit amet ante dictum dapibus ornare sed nunc. Praesent eu
     eros id metus ornare blandit ac in augue. Aliquam vitae est ac dui condimentum vestibulum in non enim. Nulla
     mollis facilisis fermentum. Nunc dictum magna libero.</p>

  <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis non dapibus purus. Integer pharetra,
    odio ut rutrum varius, leo quam viverra nisi, et pulvinar felis tellus vitae odio. Fusce a justo commodo,
    consequat lacus nec, commodo arcu. Fusce eu risus sit amet ante dictum dapibus ornare sed nunc. Praesent eu
    eros id metus ornare blandit ac in augue. Aliquam vitae est ac dui condimentum vestibulum in non enim. Nulla
    mollis facilisis fermentum. Nunc dictum magna libero.</p>

  <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis non dapibus purus. Integer pharetra,
    odio ut rutrum varius, leo quam viverra nisi, et pulvinar felis tellus vitae odio. Fusce a justo commodo,
    consequat lacus nec, commodo arcu. Fusce eu risus sit amet ante dictum dapibus ornare sed nunc. Praesent eu
    eros id metus ornare blandit ac in augue. Aliquam vitae est ac dui condimentum vestibulum in non enim. Nulla
    mollis facilisis fermentum. Nunc dictum magna libero.</p>
  </div>
</div>
