<% if @photos %>
  <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= image_tag photo.image.thumbnail %>
      </div>
      <div class="panel-body">
        <span class="btn btn-default">
          <%= link_to "Delete", photo, class: "btn btn-default", method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>
