@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background: linear-gradient(to right, #74e3ec, #c7ffe2) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  height: 100%;
}
